.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}

/*
.chessboard {
  width: 96%;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
}*/
/*
.chessboard {
  width: 96vmin;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} */


body, html{
	width: 100%;
	height: 100%;
}

body{
	overflow: hidden;
}

.chessboard-wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}

.center-board {
	/*
	margin: auto;
	width: 100vmin;
	*/

	width: 96vmin;
	height: 100%;
	position: relative;
	margin: 0 auto;

}

.chessboard {
  width: 100%;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dark {
  float: left;
  width: 12.5%;
  height: 12.5%;
  background-color: #999;
  font-size: 8vmin;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}
.light {
  float: left;
  width: 12.5%;
  height: 12.5%;
  background-color: #fff;
  font-size: 8vmin;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}
.dark:hover {
  background-color: #FF0
}
.light:hover {
  background-color: #FF0
}

.row {
  display: table-row;
  width: 100%;
  margins: auto;
}

.bottom-right {
  right: 20px;
  position: fixed;
  bottom: 0px;
  text-align: right;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 20px 20px;
  border-bottom: 1px solid #eee;
}
/*
.modal-dialog {
	overflow-y: scroll;
}

.modal-open .modal{
	overflow: hidden;
}
*/
