.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}

/*
.chessboard {
  width: 96%;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
}*/
/*
.chessboard {
  width: 96vmin;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
} */


body, html{
	width: 100%;
	height: 100%;
}

body{
	overflow: hidden;
}

.chessboard-wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}

.center-board {
	/*
	margin: auto;
	width: 100vmin;
	*/

	width: 96vmin;
	height: 100%;
	position: relative;
	margin: 0 auto;

}

.chessboard {
  width: 100%;
  margin: auto;
  border: 3vmin solid #333;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);


	opacity: 0;



	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dark {
  float: left;
  width: 12.5%;
  height: 12.5%;
  background-color: #999;
  font-size: 8vmin;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}
.light {
  float: left;
  width: 12.5%;
  height: 12.5%;
  background-color: #fff;
  font-size: 8vmin;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

/*
.dark:hover {
  background-color: #FF0
}
.light:hover {
  background-color: #FF0
}
*/

.chessboard .cell {
	cursor: default;
}
.chessboard .cell.recent {
	background-color: #DDD;
}
.chessboard .cell.moveable {
	cursor: pointer;
}
.chessboard .cell.moveable:hover {
	background-color: #FF0
}
.chessboard .cell.moving{
	background-color: #0BF;
}
.chessboard .cell.placeable {
	cursor: pointer;
	background-color: #FF0;
}


/* Piece animations */
.chessboard .cell>div{
	position: relative;
	transition: left 0.5s, top 0.5s;
	top: 0;
	left: 0;
}


.row {
  display: table-row;
  width: 100%;
  margins: auto;
}

.bottom-right {
  right: 50px;
  position: fixed;
  bottom: 0px;
  text-align: right;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 20px 20px;
  border-bottom: 1px solid #eee;
}


.bottom-right {
  right: 50px;
  position: fixed;
  bottom: 0px;
  text-align: right;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 20px 20px;
  border-bottom: 1px solid #eee;
}


#availPlayerTable .player {
	cursor: pointer;
}

@media only screen and (min-width: 450px) and (max-width: 1100px)
{
  #thisPlayerInfo .thisPlayerName {
	display: none;
  }

  #thatPlayerInfo .otherPlayerName {
	display: none;
  }
}

#forfeitGame {
  bottom: 5px; right: 0; margin: 5px; position: fixed; transform: scale(0.0);
}

#drawGame {
  bottom: 5px; right: 0; margin: 5px; position: fixed; transform: scale(0.0);
}

#actionMenu {
  bottom: 0; right: 0; margin: 5px; position: fixed;
}

#player-creation {
  overflow: auto;
}

.btmRight {
  right:  80px;
  z-index: -1;
}

.btn-chesspiece {
  font-size: 4em;
}

.modal-backdrop {
  height: 100%;
}
